{% include 'base.html.twig' %}

{% block body %}
    <form action="result.html.twig" method="">
        <input type="text" name="searchInput">
        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock %}